<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <UI Id="CustomDialogs">

      <Dialog Id="ConfigureHostDlg" Width="370" Height="270" Title="Configure Host">

        <Control Id="Skip" Type="PushButton" X="110" Y="243" Width="56" Height="17" Default="yes" Text="Skip" Property="CONFIGURE_HOSTDIALOG_SKIPPED">
          <Publish Event="Reset" Value="1">1</Publish>
          <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
          <Publish Property="CONFIGURE_HOSTDIALOG_SKIPPED" Value="True"><![CDATA[1]]></Publish>
        </Control>

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
        </Control>

        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Enter the Host IP Address and Port number to connect." />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Configure Host" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="DBServer" Type="Text" X="20" Y="60" Width="100" Height="13" NoPrefix="yes" Text="IP Address" />
        <Control Id="DBSText" Type="Edit" X="20" Y="72" Width="100" Height="18" Property="CONFIGURE_HOSTDIALOG_SERVERIP"/>

        <Control Id="DBInstance" Type="Text" X="20" Y="93" Width="70" Height="13" NoPrefix="yes" Text="Port Number" />
        <Control Id="DBIText" Type="Edit" X="20" Y="105" Width="70" Height="18" Property="CONFIGURE_HOSTDIALOG_PORTNO" />

      </Dialog>
    </UI>

  </Fragment>
</Wix>
